h1 {
  text-align: center;
  color: black;
  border: 3px solid blue;
  background-color: teal;
}

body {
  background-color: skyblue;
}

img {
  display: block;
  margin: auto;
  padding: 4px;
}

p.sub {
  text-align: center;
  font-size: 16px;
}

div.aboutMe {
  font-size: 14px;
  background-color: #b8edf2;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
}

.panel-body {
  background-color: skyblue;
}

.well {
  background-color: skyblue;
}

span {
  font-style: italic;
  font-weight: bold;
}
